
img.vb-cami {
    margin-top: 30px;
    border: 1px solid black;
}

h2.vb-model {
    margin-bottom: -15px;
}

div.vb-preco {
    font-size: 20px;
    margin: 5px;
    margin-top: -10px;
}